body {
  margin: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #72ddf7;
  border-bottom: 10px solid #fde74c;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #001200;
  color: #001242;
  transition: all 150ms ease-in-out;
}

.card img {
  max-width: 200px;
  margin-right: 20px;
}

.card img:hover {
  transform: scale(1.1);
}

.card p {
  font-style: italic;
}

.card h3:hover {
  color: #5a189a;
}
